.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  url("../s.png");
}

.register-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  width: 380px;
  text-align: center;
}

.register-card h2 {
  margin-bottom: 20px;
  color: #1c2a59;
}

.register-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-card input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  font-size: 18px;
}

.register-card button {
  background-color: #1c2a59;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.register-card button:hover {
  background-color: #2b62ad;
}

.register-card p {
  margin-top: 15px;
  color: #555;
}

.link {
  color: #1c2a59;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
